.footer {
  display: flex;
  align-items: center;
  margin: 0 16.5rem 8rem 16.5rem;

  @include respond(tablet) {
    display: grid;
    grid-template-columns: max-content 1fr;
    margin: 0 4rem;
  }

  @include respond(phone) {
    display: grid;
    grid-template-columns: max-content;
    margin: 0 2.4rem;
  }

  &__logo {
    margin-right: 13.8rem;
    align-self: flex-start;

    @include respond(tablet) {
      grid-column: 1 / -1;
      margin-bottom: 3.2rem;
    }
  }
  &__text {
    margin-right: 30rem;
    padding-right: 6rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 400;
    color: $color-black;

    @include respond(tablet) {
      margin-right: 0;
    }

    @include respond(phone) {
      margin-bottom: 6.4rem;
      width: 37.5rem;
      padding-right: 8rem;
    }
    & a {
      font-weight: 700;
      text-decoration: none;
      color: $color-black;
    }
  }
  &__links {
    justify-self: flex-end;
    display: flex;
    gap: 2rem;

    @include respond(phone) {
      justify-self: start;
    }

    & a svg {
      height: 2rem;
      width: 2rem;
      fill: #191826;
      transition: all 0.2s;

      &:hover {
        fill: $color-orange;
      }
    }
  }
}
