*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2rem;
  background-color: #f2f2f2;
}

h1 {
  font-size: 8.8rem;
  line-height: 8.8rem;
  font-weight: 700;
  letter-spacing: -1px;
}

h2 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.2rem;
}

.btn {
  border-radius: 1.2rem;
  border: none;
  width: 33.3rem;
  height: 6.1rem;
}
@media (max-width: 1080px) {
  .btn {
    width: 29.6rem;
  }
}

.container {
  max-width: 144rem;
  background-image: url(../assets/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-position: 60% 100%;
  margin: 0 auto;
}
@media (max-width: 1080px) {
  .container {
    max-width: 76.8rem;
    background-image: url(../assets/bg-main-tablet.png);
    background-position: 80% -50%;
  }
}
@media (max-width: 768px) {
  .container {
    width: 37.5rem;
    background-image: url(../assets/bg-main-mobile.png);
    background-position: 0% -20%;
  }
}

button,
a {
  cursor: url(../assets/Pointer.svg), auto;
}

@media (max-width: 768px) {
  br {
    display: none;
  }
}
.heading {
  margin: 0 0 32.1rem 16.5rem;
  background-image: url(../assets/bg-pattern-1.svg);
  background-position: 100% -4rem;
  background-repeat: no-repeat;
}
@media (max-width: 1080px) {
  .heading {
    margin: 0 0 0 4rem;
    background-size: 26.667rem 40rem;
    background-position: calc(100% + 3.567rem) -3.2rem;
  }
}
@media (max-width: 768px) {
  .heading {
    margin: 0 2.4rem;
    background-image: none;
  }
}
.heading__logo {
  margin-bottom: 12.7rem;
  margin-top: 6.2rem;
}
@media (max-width: 1080px) {
  .heading__logo {
    margin-bottom: 9.5rem;
  }
}
@media (max-width: 768px) {
  .heading__logo {
    margin-bottom: 6.4rem;
    margin-top: 4rem;
  }
}
.heading__headline {
  margin-bottom: 4rem;
  margin-right: 26rem;
}
@media (max-width: 1080px) {
  .heading__headline {
    font-size: 6.4rem;
    line-height: 6.4rem;
    margin-right: 20rem;
    margin-bottom: 3rem;
  }
}
@media (max-width: 768px) {
  .heading__headline {
    font-size: 4rem;
    line-height: 4.8rem;
    margin-bottom: 2rem;
    margin-right: 0;
  }
}
.heading__text {
  margin-bottom: 32rem;
  color: #191826;
  line-height: 3.4rem;
  margin-right: 41rem;
}
@media (max-width: 1080px) {
  .heading__text {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.8rem;
    margin-bottom: 25rem;
    margin-right: 21.5rem;
  }
}
@media (max-width: 768px) {
  .heading__text {
    margin-bottom: 16.6rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-right: 0;
  }
}

.cta {
  margin: 0 16.5rem 20.2rem 16.5rem;
  background-color: #191826;
  height: 60rem;
  position: relative;
  background-image: url(../assets/bg-pattern-2.svg);
  background-position: 33.7rem -4rem;
  background-repeat: no-repeat;
}
@media (max-width: 1080px) {
  .cta {
    margin: 0 4rem 18.3rem 4rem;
    background-position: 22.9rem -3.1rem;
    background-size: 28rem 42rem;
  }
}
@media (max-width: 768px) {
  .cta {
    margin: 0 0 39rem 0;
    background-position: 4.8rem 0;
  }
}
.cta__img {
  position: absolute;
  height: 64.2rem;
  left: 10.2rem;
  top: -21.3rem;
}
@media (max-width: 1080px) {
  .cta__img {
    height: 55.6rem;
    left: 6.4rem;
    top: -13.8rem;
  }
}
@media (max-width: 768px) {
  .cta__img {
    height: 43rem;
    left: 8rem;
    top: -9.8rem;
  }
}
.cta__card {
  display: grid;
  grid-template-rows: repeat(4, -webkit-min-content);
  grid-template-rows: repeat(4, min-content);
  padding: 6rem;
  row-gap: 2.5rem;
  position: absolute;
  right: 9.5rem;
  top: 9rem;
  width: 44.6rem;
  height: 62.5rem;
  border-radius: 1.2rem;
  background-color: #fa7453;
}
@media (max-width: 1080px) {
  .cta__card {
    right: 5.8rem;
    top: 15rem;
    width: 39.9rem;
    height: 54.6rem;
    padding: 4.8rem;
    row-gap: 0;
  }
}
@media (max-width: 768px) {
  .cta__card {
    width: 37.5rem;
    right: 0;
    top: 38rem;
  }
}
.cta__card--headline {
  color: #fcfaf9;
}
@media (max-width: 1080px) {
  .cta__card--headline {
    font-size: 3.2rem;
    margin-bottom: 0.5rem;
  }
}
.cta__card--text {
  line-height: 3.4rem;
  color: #fcfaf9;
}
@media (max-width: 1080px) {
  .cta__card--text {
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin-bottom: 1.5rem;
  }
}
.cta__card--price {
  color: #fcfaf9;
}
@media (max-width: 1080px) {
  .cta__card--price {
    margin-bottom: 1.8rem;
  }
}
@media (max-width: 768px) {
  .cta__card--price {
    font-size: 2rem;
  }
}
.cta__card--price span {
  font-size: 6.5rem;
  font-weight: 700;
}
.cta__card--buttons {
  display: grid;
  row-gap: 1.6rem;
  font-size: 1.8rem;
  font-weight: 700;
}
.cta__card--buttons-ios {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  color: #fcfaf9;
  background-color: #191826;
  transition: all 0.2s;
}
.cta__card--buttons-ios:hover,
.cta__card--buttons-ios :active {
  background-color: #66e2dc;
}
.cta__card--buttons-android {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  color: #191826;
  background-color: #fcfaf9;
  transition: all 0.2s;
}
.cta__card--buttons-android:hover,
.cta__card--buttons-android :active {
  background-color: #ffb964;
}

.footer {
  display: flex;
  align-items: center;
  margin: 0 16.5rem 8rem 16.5rem;
}
@media (max-width: 1080px) {
  .footer {
    display: grid;
    grid-template-columns: -webkit-max-content 1fr;
    grid-template-columns: max-content 1fr;
    margin: 0 4rem;
  }
}
@media (max-width: 768px) {
  .footer {
    display: grid;
    grid-template-columns: -webkit-max-content;
    grid-template-columns: max-content;
    margin: 0 2.4rem;
  }
}
.footer__logo {
  margin-right: 13.8rem;
  align-self: flex-start;
}
@media (max-width: 1080px) {
  .footer__logo {
    grid-column: 1/-1;
    margin-bottom: 3.2rem;
  }
}
.footer__text {
  margin-right: 30rem;
  padding-right: 6rem;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400;
  color: #191826;
}
@media (max-width: 1080px) {
  .footer__text {
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .footer__text {
    margin-bottom: 6.4rem;
    width: 37.5rem;
    padding-right: 8rem;
  }
}
.footer__text a {
  font-weight: 700;
  text-decoration: none;
  color: #191826;
}
.footer__links {
  justify-self: flex-end;
  display: flex;
  gap: 2rem;
}
@media (max-width: 768px) {
  .footer__links {
    justify-self: start;
  }
}
.footer__links a svg {
  height: 2rem;
  width: 2rem;
  fill: #191826;
  transition: all 0.2s;
}
.footer__links a svg:hover {
  fill: #fa7453;
}/*# sourceMappingURL=main.css.map */